In [1]:
import blaze as bl

/home/andr/work/miniconda3/lib/python3.5/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
/home/andr/work/miniconda3/lib/python3.5/site-packages/odo/backends/pandas.py:102: FutureWarning: pandas.tslib is deprecated and will be removed in a future version.
You can access NaTType as type(pandas.NaT)
  @convert.register((pd.Timestamp, pd.Timedelta), (pd.tslib.NaTType, type(None)))

In [2]:
t = bl.data([(1, 'Alice', 100),
          (2, 'Bob', -200),
          (3, 'Charlie', 300),
          (4, 'Denis', 400),
          (5, 'Edith', -500)],
         fields=['id', 'name', 'balance'])

In [3]:
t.peek()

   id     name  balance
0   1    Alice      100
1   2      Bob     -200
2   3  Charlie      300
3   4    Denis      400
4   5    Edith     -500

In [9]:
import odo

In [5]:
dir(odo)

['CSV',
 'Chunks',
 'ColumnDataSource',
 'Directory',
 'JSON',
 'JSONLines',
 'PyTables',
 'S3',
 'Temp',
 'TextFile',
 'URL',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_version',
 'absolute_import',
 'append',
 'backends',
 'chunks',
 'compatibility',
 'convert',
 'core',
 'create',
 'directory',
 'discover',
 'division',
 'drop',
 'dshape',
 'h5py',
 'halt_ordering',
 'ignoring',
 'into',
 'np',
 'numpy_dtype',
 'odo',
 'pd',
 'print_function',
 'regex',
 'resource',
 'restart_ordering',
 'sql',
 'temp',
 'utils']

In [12]:
odo((1, 2, 3), list)

TypeError: 'module' object is not callable