In [1]:
import pandas as pd

In [2]:
df_out = pd.DataFrame([('string1', 1), ('string2', 2), ('string3', 3)], columns=['Name', 'Value'])

In [3]:
df_out

      Name  Value
0  string1      1
1  string2      2
2  string3      3

In [5]:
df_out.to_excel('test_pandas.xls')

In [7]:
df_in = pd.read_excel('test_pandas.xls')

In [10]:
df_in['Name'][0] = 'dtrong'

C:\Miniconda2\envs\py3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [11]:
df_in

      Name  Value
0   dtrong      1
1  string2      2
2  string3      3